&share
 wrf_core = 'ARW',
 max_dom = 2,
 start_date = '{{ start_date }}','{{ start_date }}',
 end_date   = '{{ end_date }}','{{ end_date }}',
 interval_seconds = {{ interval_seconds }},
 io_form_geogrid = 2
/

&geogrid
 parent_id         =   1,   1,
 parent_grid_ratio =   1,   5,
 i_parent_start    =   1,  53,
 j_parent_start    =   1,  45,
 e_we              =  171, 321,
 e_sn              =  167, 381,
 geog_data_res = 'default','default',
 dx = 25000,
 dy = 25000,
 map_proj = 'lambert',
 ref_lat   =  65.00,
 ref_lon   = -155.00,
 truelat1  =  50.0,
 truelat2  =  80.0,
 stand_lon = -155.0,
 geog_data_path = '{{ geog_data_path }}'
/

&ungrib
 out_format = 'WPS',
 prefix = 'GFS',
/

&metgrid
 fg_name = 'GFS'
 io_form_metgrid = 2,
/

